## __Reading and Writing CSV Files__

Let's look at how to read and write CSV files. There are two methods that we can use. One is by using the CSV library and the other is by using pandas.

In [ ]:
from IPython.display import Image
try:
  filename = take_photo()
  print('Saved to {}'.format(filename))
  
  # Show the image which was just taken.
  display(Image(filename))
except Exception as err:
  # Errors will be thrown if the user does not have a webcam or if they do not
  # grant the page permission to access it.
  print(str(err))

## Step 1: Import the CSV Library and Read the CSV File

Let's explore the CSV library.

- Import the CSV library
- Open the file Sample_File.csv, and mention the filename as argument to the open() function
- Load the file using the csv.reader() method
- Print the contents of the file using a for loop

In [ ]:
import csv
csvFile = open('Sample_File.csv')
csvReader = csv.reader(csvFile)

- csvReader is an object of csv.reader()
- Check the type of csvReader object
- This step is not necessary but can be helpful for verifying that the file was loaded correctly

In [ ]:
type(csvReader)

_csv.reader

**Observation**

- The type of csvReader is _csv.reader.

Now let us print the contents of the file using a for loop
* Declare a variable that iterates through the csvReader
* Print the line

In [ ]:
for line in csvReader:
    print(line)

['Name', 'Age', 'Gender']
['Nithin', '24', 'Male']
['Manoj', '30', 'Male']
['Shivashankar', '44', 'Male']
['Swathi', '18', 'Female']
['Pareekshith', '28', 'Male']

## Step 2: Distinguish the Header and the Rows in the CSV File

- Open the CSV file for reading using the **with** and **open()** function
- Read the CSV file using the **reader()** function 
- Initiate the variable to **count** the rows
- Traverse through the lines in csvReader
- Check if the **count** is 0 and print the line as header if it is
- Else, print it as a row
- Increment the **count** by one

In [ ]:
with open('Sample_File.csv','r') as csvFile:
    csvReader = csv.reader(csvFile)
    count = 0
    for line in csvReader:
        if count == 0:
            print('Header: '+str(line))
        else:
            print('Row: '+str(line))
        count+=1

Header: ['Name', 'Age', 'Gender']
Row: ['Nithin', '24', 'Male']
Row: ['Manoj', '30', 'Male']
Row: ['Shivashankar', '44', 'Male']
Row: ['Swathi', '18', 'Female']
Row: ['Pareekshith', '28', 'Male']

**Observation**
* The first row in a CSV file is always a header. 
* All other lines are rows.

## Step 3: Write a New Row to the CSV File

- Open the CSV file for writing using **with** and **open()** functions
- Create a writer object using the **writer()** function
- Write a new row to the CSV file using the **writerow()** function, and mention the row to be written as an argument to the **writerow()** function

In [ ]:
with open('Sample_File.csv','a') as csvFile:
    csvWriter = csv.writer(csvFile)
    csvWriter.writerow(['Aarabhi',27,'Female'])

## Step 4: Use the Pandas Library to Read and Modify CSV Files

- Import the pandas library
- Read the CSV file into a pandas DataFrame object using the read_csv() function

In [ ]:
import pandas as pd

df = pd.read_csv('Sample_File.csv')

Print the contents of the DataFrame to the console.
This step is not strictly necessary, but it can be helpful for verifying that the DataFrame was loaded correctly

In [ ]:
df

           Name  Age  Gender
0        Nithin   24    Male
1         Manoj   30    Male
2  Shivashankar   44    Male
3        Swathi   18  Female
4   Pareekshith   28    Male
5       Aarabhi   27  Female

**Observation**
* The DataFrame has a tabular structure with rows and columns.
* The first column represents the index of the rows.

## Step 5: Add a New Row to the DataFrame

To add a new row to the DataFrame:
- Locate the last row index of the DataFrame using the loc[ ] method
- Assign the new row item list to this location

In [ ]:
# You need to pass in in the index
df.loc[len(df.index)] = ['Ganesh',20,'Male']

Print the updated contents of the DataFrame to the console:

In [ ]:
df

           Name  Age  Gender
0        Nithin   24    Male
1         Manoj   30    Male
2  Shivashankar   44    Male
3        Swathi   18  Female
4   Pareekshith   28    Male
5       Aarabhi   27  Female
6        Ganesh   20    Male

In [ ]:
# using append (which is not recommended)

**Observation**
* The row is added as the last row of the DataFrame.

## Step 6: Write the Updated DataFrame Back to the CSV File

- Use the to_csv() function to write the contents of the DataFrame to the CSV file

In [ ]:
#The "index = False" argument is used to skip writing the index that has been created by pandas internally to the CSV file.
df.to_csv('Sample_File.csv',index = False)