## Step 1: Import the CSV Library and Read the CSV File

Let's explore the CSV library.

- Import the CSV library
- Open the file Sample_File.csv, and mention the filename as argument to the open() function
- Load the file using the csv.reader() method
- Print the contents of the file using a for loop

In [30]:
import csv
filepath = '../marketing-campagin/marketing_data.txt'
csvFile = open(filepath)

## Reader is a generator function, so when it finishes giving lines it's done
csvReader = csv.reader(csvFile)

- csvReader is an object of csv.reader()
- Check the type of csvReader object
- This step is not necessary but can be helpful for verifying that the file was loaded correctly

In [16]:
type(csvReader)

_csv.reader

**Observation**

- The type of csvReader is _csv.reader.

Now let us print the contents of the file using a for loop
* Declare a variable that iterates through the csvReader
* Print the line

In [21]:
store_csv_list = []
for line in csvReader:
    store_csv_list.append(line)
    #print(type(line))
    #print(line)

In [25]:
 # gives me just the first element in my store_csv_list
store_csv_list[:1]
store_csv_list[0]

['\ufeffID',
 'Year_Birth',
 'Education',
 'Marital_Status',
 ' Income ',
 'Kidhome',
 'Teenhome',
 'Dt_Customer',
 'Recency',
 'MntWines',
 'MntFruits',
 'MntMeatProducts',
 'MntFishProducts',
 'MntSweetProducts',
 'MntGoldProds',
 'NumDealsPurchases',
 'NumWebPurchases',
 'NumCatalogPurchases',
 'NumStorePurchases',
 'NumWebVisitsMonth',
 'AcceptedCmp3',
 'AcceptedCmp4',
 'AcceptedCmp5',
 'AcceptedCmp1',
 'AcceptedCmp2',
 'Response',
 'Complain',
 'Country']

## Step 2: Distinguish the Header and the Rows in the CSV File

- Open the CSV file for reading using the **with** and **open()** function
- Read the CSV file using the **reader()** function 
- Initiate the variable to **count** the rows
- Traverse through the lines in csvReader
- Check if the **count** is 0 and print the line as header if it is
- Else, print it as a row
- Increment the **count** by one

In [ ]:
# open(<filepath>, permissions char: r == read only, w == write, wb == write bytes)
## open does default the second parameter value.

row_holder = []

with open(filepath,'r') as csvFile: # Very common syntax for interacting with files in python
    csvReader = csv.reader(csvFile)
    count = 0
    for line in csvReader:
        if count == 0: # count is functioning as an index counter
            print('Header: '+ str(line))
        else:
            print('Row: '+ str(line))
            row_holder.append(line)
        count+=1

**Observation**
* The first row in a CSV file is always a header. 
* All other lines are rows.

## Step 3: Write a New Row to the CSV File

- Open the CSV file for writing using **with** and **open()** functions
- Create a writer object using the **writer()** function
- Write a new row to the CSV file using the **writerow()** function, and mention the row to be written as an argument to the **writerow()** function

In [34]:
## always writes the file in the folder that your kernal is running in
## Your kernal defaults to running in the same folder as the jupyter notebook.

# 'a' : is a permissions option for open, 
with open('Sample_File.csv','a') as csvFile: #classic syntax for file interaction
    csvWriter = csv.writer(csvFile)
    csvWriter.writerow(['Aarabhi',27,'Female'])

## Step 4: Use the Pandas Library to Read and Modify CSV Files

- Import the pandas library
- Read the CSV file into a pandas DataFrame object using the read_csv() function

In [42]:
import pandas as pd

# parameters:
## first: filepath
df = pd.read_csv(filepath, index_col = 4)

Print the contents of the DataFrame to the console.
This step is not strictly necessary, but it can be helpful for verifying that the DataFrame was loaded correctly

In [43]:
df

,ID,Year_Birth,Education,Marital_Status,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,...,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Response,Complain,Country
Income,,,,,,,,,,,,,,,,,,,,,
"$84,835.00",1826,1970,Graduation,Divorced,0,0,6/16/14,0,189,104,...,6,1,0,0,0,0,0,1,0,SP
"$57,091.00",1,1961,Graduation,Single,0,0,6/15/14,0,464,5,...,7,5,0,0,0,0,1,1,0,CA
"$67,267.00",10476,1958,Graduation,Married,0,1,5/13/14,0,134,11,...,5,2,0,0,0,0,0,0,0,US
"$32,474.00",1386,1967,Graduation,Together,1,1,5/11/14,0,10,0,...,2,7,0,0,0,0,0,0,0,AUS
"$21,474.00",5371,1989,Graduation,Single,1,0,4/8/14,0,6,16,...,2,7,1,0,0,0,0,1,0,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"$66,476.00",10142,1976,PhD,Divorced,0,1,3/7/13,99,372,18,...,11,4,0,0,0,0,0,0,0,US
"$31,056.00",5263,1977,2n Cycle,Married,1,0,1/22/13,99,5,10,...,3,8,0,0,0,0,0,0,0,SP
"$46,310.00",22,1976,Graduation,Divorced,1,0,12/3/12,99,185,2,...,5,8,0,0,0,0,0,0,0,SP
"$65,819.00",528,1978,Graduation,Married,0,0,11/29/12,99,267,38,...,10,3,0,0,0,0,0,0,0,IND
"$94,871.00",4070,1969,PhD,Married,0,2,9/1/12,99,169,24,...,4,7,0,1,1,0,0,1,0,CA

In [40]:
# Shows the first 5 lines of the dataframe
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Response,Complain,Country
0,1826,1970,Graduation,Divorced,"$84,835.00",0,0,6/16/14,0,189,...,6,1,0,0,0,0,0,1,0,SP
1,1,1961,Graduation,Single,"$57,091.00",0,0,6/15/14,0,464,...,7,5,0,0,0,0,1,1,0,CA
2,10476,1958,Graduation,Married,"$67,267.00",0,1,5/13/14,0,134,...,5,2,0,0,0,0,0,0,0,US
3,1386,1967,Graduation,Together,"$32,474.00",1,1,5/11/14,0,10,...,2,7,0,0,0,0,0,0,0,AUS
4,5371,1989,Graduation,Single,"$21,474.00",1,0,4/8/14,0,6,...,2,7,1,0,0,0,0,1,0,SP

# Getting dataframe attributes

In [37]:
# shape
df.shape
# num_rows, num_cols
# num_rows doesn't include the header
# num_cols doesn't include the index

(2240, 28)

In [39]:
# getting all the columns in the csv
df.columns

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', ' Income ',
       'Kidhome', 'Teenhome', 'Dt_Customer', 'Recency', 'MntWines',
       'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Response', 'Complain', 'Country'],
      dtype='object')

In [44]:
df.index

Index(['$84,835.00 ', '$57,091.00 ', '$67,267.00 ', '$32,474.00 ',
       '$21,474.00 ', '$71,691.00 ', '$63,564.00 ', '$44,931.00 ',
       '$65,324.00 ', '$65,324.00 ',
       ...
       '$20,130.00 ', '$42,429.00 ', '$42,429.00 ', '$36,640.00 ',
       '$78,901.00 ', '$66,476.00 ', '$31,056.00 ', '$46,310.00 ',
       '$65,819.00 ', '$94,871.00 '],
      dtype='object', name=' Income ', length=2240)

**Observation**
* The DataFrame has a tabular structure with rows and columns.
* The first column represents the index of the rows.

## Step 5: Add a New Row to the DataFrame

To add a new row to the DataFrame:
- Locate the last row index of the DataFrame using the loc[ ] method
- Assign the new row item list to this location

In [ ]:
# You need to pass in in the index
df.loc[len(df.index)] = ['Ganesh',20,'Male']

Print the updated contents of the DataFrame to the console:

In [ ]:
df

           Name  Age  Gender
0        Nithin   24    Male
1         Manoj   30    Male
2  Shivashankar   44    Male
3        Swathi   18  Female
4   Pareekshith   28    Male
5       Aarabhi   27  Female
6        Ganesh   20    Male

In [ ]:
# using append (which is not recommended)

**Observation**
* The row is added as the last row of the DataFrame.

## Step 6: Write the Updated DataFrame Back to the CSV File

- Use the to_csv() function to write the contents of the DataFrame to the CSV file

In [ ]:
#The "index = False" argument is used to skip writing the index that has been created by pandas internally to the CSV file.
df.to_csv('Sample_File.csv',index = False)