In [1]:
import datetime

#from datetime import datetime

# How to get now in Datetime

1. now() is going to give you the server (computer that's running this program)

- The server Amy is using is a Docker Container which is synced to the network it's on (which is going to be the docker network), which is set to UTC time.
- network time protocol

In [7]:
now_start = datetime.datetime.now() #gives utc timezone by default

In [8]:
print(now_start)

2023-09-22 01:19:25.004370

In [9]:
now_comparison = datetime.datetime.now()

In [10]:
print(now_comparison)

2023-09-22 01:20:19.065076

# Attributes from datetime objects

1. you can get specific parts of the datetime object by calling attributes specifically
 - year
 - day
 - hour
 - second
 - epoh time

In [12]:
now_start.year

2023

In [13]:
now_start.day

22

In [14]:
now_start.hour

1

In [15]:
now_start.second

25

In [16]:
# Move on this isn't working

# epoch time is the number of seconds that have passed 
## Amount of time since 1 January 1970, that's when the Unix operating system started
now_start.epochtime()

AttributeError: 'datetime.datetime' object has no attribute 'epochtime'

# Datetime math

In [18]:
# gives a time delta object
time_passed = now_comparison - now_start
time_passed

datetime.timedelta(seconds=54, microseconds=60706)

In [19]:
time_passed.seconds

54

In [21]:
# can't add 2 datetime objects.
now_comparison + now_start

TypeError: unsupported operand type(s) for +: 'datetime.datetime' and 'datetime.datetime'

In [22]:
# Can add datetime object + timedelta object.
now_comparison - time_passed

datetime.datetime(2023, 9, 22, 1, 19, 25, 4370)

In [23]:
now_comparison + time_passed

datetime.datetime(2023, 9, 22, 1, 21, 13, 125782)

# Convert a string into a datetime object

In [24]:
example_str = "Jun 1 2005 1:33PM"

In [26]:
# first param: string you want to convert
# second param is the format of that string

datetime.datetime.strptime(example_str, '%b %d %Y %I:%M%p')

datetime.datetime(2005, 6, 1, 13, 33)

# Using Date

In [27]:
# params: year, month, day
my_date = datetime.date(2023, 9, 21)

In [28]:
my_date

datetime.date(2023, 9, 21)