# Functions

In [43]:
# Function Definition simplest syntax

# This cell only defines my function.  But it doesn't run it
def greetings(name, greeting):
    print(greeting ,'! ', name, sep = '')
    
    for i in range(10):
        print(i)

In [45]:
greetings()

TypeError: greetings() missing 2 required positional arguments: 'name' and 'greeting'

In [9]:
# function no parameters

def hi_john():
    print("hello john!")

In [16]:
hi_john(, "john")

TypeError: hi_john() takes 0 positional arguments but 2 were given

In [17]:
# Function call
greeting = "hello"
name = "john"
greetings(greeting, 10)

10! hello
0
1
2
3
4
5
6
7
8
9

# Functions with parameters with default values

In [49]:
def greetings_defaults(name, greeting = "hello"):
    print(name, greeting)

In [50]:
greetings_defaults()

TypeError: greetings_defaults() missing 1 required positional argument: 'name'

In [52]:
greetings_defaults("john", greeting = "john")

SyntaxError: invalid syntax (711051773.py, line 1)

# Defining functions for typing

In [36]:
def greetings_typed(name: str, greeting: float):
    print(type(greeting))
    print(greeting ,'! ', name, sep = '')

In [37]:
greetings_typed("john", "hello")

<class 'str'>
hello! john

In [38]:
greetings_typed("john", 10.0)

<class 'float'>
10.0! john

### Positional Argument

In [ ]:
greetings('Hello', 'John')

### Keyword Arguments

In [55]:
# def greetings(name, greeting):

## Here the position doesn't matter
greetings('Hello', greeting = 'John')

John! Hello
0
1
2
3
4
5
6
7
8
9

In [56]:
# Mixed positional keyword function

def so_many_parameters(one, two, three = 3, four = 4):
    print(one, two, three, four)

In [61]:
so_many_parameters(2, 3 )

2 3 3 4

In [62]:
so_many_parameters(1)

TypeError: so_many_parameters() missing 1 required positional argument: 'two'

In [59]:
so_many_parameters(1, 2, 5)

1 2 5 4

In [63]:
so_many_parameters(1, 2, four = 5, three = 3)

1 2 3 5

### Parameters with Default value

In [64]:
def greetings(name, greeting):
    print(greeting ,'! ', name, sep = '')

In [65]:
greetings('John')

TypeError: greetings() missing 1 required positional argument: 'greeting'

In [66]:
def greetings(name, greeting = 'Hello'):
    print(greeting ,'! ', name, sep = '')

In [67]:
greetings('John')

Hello! John

In [68]:
greetings('John', 'Hi')

Hi! John

### Arbitrary Arguments

#### Non Keyword Arbitrary Argument

In [87]:
# function defined with non keyword variable no. of arguments
def total(*args):
    tot = 0
    print(args[0])
    for n in args:
        tot += n
    print(tot)

In [88]:
total(10, 1, 3)

10
14

In [70]:
# you can call the object whatever want, it doesn't have to be args.
def total_works(*hello):
    print(hello)

In [76]:
total(1, 2, 3, 4)

10

In [71]:
total_works(10, 123,32)

(10, 123, 32)

In [ ]:
total(23, 67)

In [ ]:
total(90, 100, 10, 30, 40)

In [82]:
# explicitly using an array

def total_with_list_param(my_list):
    print(my_list[0])
    print(sum(my_list))

In [83]:
total_with_list_param(20, 10 ,20)

TypeError: total_with_list_param() takes 1 positional argument but 3 were given

In [84]:
total_with_list_param([20, 10, 20])

20
50

In [85]:
my_list = [20, 10, 20]
total_with_list_param(my_list)

20
50

#### Keyword Arbitrary Argument

In [97]:
# function defined with variable no. keyword variable no. of arguments
def information(**kwargs):
    # kwargs has a dictionary structure: key: value
    # kwargs.keys() => all keys in the diction
    # kwargs.items() : key value pairs
    # kwargs.values() : just the values
    
    print("made a change")
    for key in kwargs.keys():
        print(key, ":", kwargs[key])

In [103]:
print(information.key)

AttributeError: 'function' object has no attribute 'key'

In [99]:
information(name = 'John Davis', age = 34)

made a change
name : John Davis
age : 34

In [100]:
information(legal_name = "john davis", legal_age = 18)

made a change
legal_name : john davis
legal_age : 18

In [101]:
information(name = 'John Davis', age = 34, city = 'London', country  = 'UK')

made a change
name : John Davis
age : 34
city : London
country : UK

## return statement

In [104]:
def net_amount(Amount, tax= 18, discount = 10):
    disc = (Amount * discount/100)
    tax_amnt = (Amount - disc) * tax/100
    net = (Amount - disc) + tax_amnt
    print(round(net,2))
    
    # This return statement is implied when not coded
    return None

In [105]:
print(net_amount)

<function net_amount at 0x10d22a5e0>

In [106]:
temporary_obj = net_amount(100)

106.2

In [108]:
# python defaults to returning a None object with every function unless otherwise specified.
print(temporary_obj)

None

In [109]:
amnt = float(input('Please enter the bill amount '))
tax = float(input('Please enter tax percentage :'))
discount = float(input('Please enter discount percentage :'))

Please enter the bill amount 100
Please enter tax percentage :2
Please enter discount percentage :10

In [110]:
return_value = net_amount(amnt, tax, discount)

91.8

In [111]:
print(return_value)

None

In [116]:
def net_amount_with_return(Amount, tax= 18, discount = 10):
    disc = (Amount * discount/100)
    tax_amnt = (Amount - disc) * tax/100
    net = (Amount - disc) + tax_amnt
    print(round(net,2))
    return net

In [113]:
print(net_amount_with_return)

<function net_amount_with_return at 0x10d271310>

In [ ]:
amnt = float(input('Please enter the bill amount '))
tax = float(input('Please enter tax percentage :'))
discount = float(input('Please enter discount percentage :'))

In [117]:
return_value = net_amount_with_return(amnt, tax, discount)

91.8

In [118]:
print(return_value)

91.8

In [119]:
print('Total Amount to be paid : ', return_value)

Total Amount to be paid :  91.8

## Scope of Variables

### global variable

In [120]:
var = 10
print(var)

10

In [121]:
var

10

In [122]:
var += 10

In [123]:
print(var)

20

In [130]:
def function():
    global var
    print(var)

In [132]:
function()

20

### local variables

In [133]:
def foo(inp):
    # local variable
    lc = 30
    print('input parameter : ', inp)
    print('local value : ', lc)

In [134]:
foo(45)

input parameter :  45
local value :  30

In [135]:
lc

NameError: name 'lc' is not defined

#### calling local variable outside function

In [ ]:
print(inp)

#### calling global variable inside a function

In [ ]:
def foo2():
    square = var ** 2
    return square

In [ ]:
foo2()

### local and global variable with same name

In [ ]:
var = 10 # global variable

In [ ]:
def foo3():
    var = 50 # local variable
    print('inside function var  =', var)

In [ ]:
foo3()
print('outside function var =', var)

### creating or manipulating global variable inside a function

In [ ]:
var = 15
print('before function call var =', var)

def foo4():
    global var
    var *= 5
    print('inside function var  =', var)

foo4()
print('outside function var =', var)

## Generator Functions

In [136]:
def myGenerator():
    n = 1
    print('First Iteration')
    yield 'Number 1 : n = ' + str(n)
    
    n += 2
    print('Second Iteration')
    yield 'Number 2 : n = ' + str(n)
    
    n += 3
    print('Third Iteration')
    yield 'Number 3 : n = ' + str(n)

### generator call : way 1

In [141]:
def my_function():
    print("hello")

In [155]:
gen = myGenerator()

In [138]:
gen

In [145]:
test_function = my_function()

hello

In [147]:
print(test_function)

None

In [139]:
print(next(gen))

First Iteration
Number 1 : n = 1

In [140]:
gen

In [148]:
print(next(gen))

Second Iteration
Number 2 : n = 3

In [149]:
gen

In [150]:
print(next(gen))

Third Iteration
Number 3 : n = 6

In [151]:
gen

In [152]:
print(next(gen))

StopIteration:

In [154]:
import pandas as pd

rows_in_list = []

rows_in_list = pd.DataFrame.values #(numpy array)

for row in pd.DataFrame.iterrow():
    rows_in_list.append(row)

# [[row], [row], ]
rows_in_list[0]
rows_in_list[1]

pd.DataFrame().iterrows() # this is a generator function


    
my_lists = pd.DataFrame(file ="").iterrows()[0] # not allowed!
for key,value in dict.items()

# Try and Except

In [ ]:
for i in range(0, 1000):
    try:
        next(gen)
    except exception as e:
        ipdb.set_trace()

### the next function is called untill all values are yielded.

### generator call : way 2

In [156]:
gen = myGenerator()
for value in gen:
    print(value, '\n')

First Iteration
Number 1 : n = 1

Second Iteration
Number 2 : n = 3

Third Iteration
Number 3 : n = 6

## built in functions

In [ ]:
print(dir(__builtins__))

## map function

In [ ]:
temp = [22.0, 45.3, 35.4, 40.0, 44.7, 21.5]
for T in temp:
    f = ((9/5) * T) + 32
    print('{:5.1f} in degree C is equivalent to {:6.1f} in degree F.'.format(T,f))

In [ ]:
def Fahrenhite(T):
    return round(((9/5) * T) + 32, 1)

In [ ]:
results = list(map(Fahrenhite, temp))
print('Temp in deg C ', temp)
print('Temp in deg F ', results)

### using lambda function

In [ ]:
results = list(map(lambda T: round(((9/5) * T) + 32, 1), temp))
print('Temp in deg C ', temp)
print('Temp in deg F ', results)

## filter function

In [ ]:
numbers = [32, 45, 62, 21, 55, 91, 88, 17 ]
odd_numbers = []
for n in numbers:
    if n % 2 :
        odd_numbers.append(n)
print(odd_numbers)

In [ ]:
numbers = [32, 45, 62, 21, 55, 91, 88, 17 ]
odd_numbers = list(filter ( lambda n : n % 2, numbers))
print(odd_numbers)

## reduce function

In [ ]:
numbers = [2,4,6,8,10,12]
tot = 0
for n in numbers:
    tot += n
print('Total :', tot)

In [ ]:
from _functools import reduce
numbers = [2,4,6,8,10,12]
result = reduce(lambda x , y : x + y, numbers)
print('Total = ', result)