# Data Types

In [45]:
x = None

In [14]:
x = 34 ; y = 67.89 ; z = True

print('x = ', 
      x, 
      'y = ', 
      y, 
      'z = ', 
      z)

x =  34 y =  67.89 z =  True

In [9]:
import pandas as pd
test = pd.DataFrame()

In [10]:
type(test)

pandas.core.frame.DataFrame

In [11]:
print('Type of \nx = ', type(x), '\ty = ', type(y), '\tz = ', type(z))

Type of
x =  <class 'int'> 	y =  <class 'float'> 	z =  <class 'bool'>

In [12]:
var = 'abc'
print('var = ', var)
print('type of var ', type(var))

var =  abc
type of var  <class 'str'>

## Data Type Conversion

In [ ]:
x = 45.77
int(x)

In [ ]:
str(x)

In [ ]:
bool(x)

In [ ]:
y = '45.88'

In [ ]:
float(y)

In [ ]:
int(y)

## Checking Refrences

In [3]:
x = 34  # x <- y (id x)
y = x # y is holding the value of x
print('x = ', x, ';  id of x = ', id(x))
print('y = ', y, ';  id of y = ', id(y))

print(id(x) == id(y))

x =  34 ;  id of x =  4434074960
y =  34 ;  id of y =  4434074960
True

In [4]:
x = 65
print('x = ', x, ';  id of x = ', id(x))
print('y = ', y, ';  id of y = ', id(y))

x =  65 ;  id of x =  4434264432
y =  34 ;  id of y =  4434074960

In [3]:
y = 78
print('x = ', x, ';  id of x = ', id(x))
print('y = ', y, ';  id of y = ', id(y))

x =  65 ;  id of x =  4333351280
y =  78 ;  id of y =  4333351696

In [4]:
y = 65
print(id(y))

4333351280

# Arithemetic Operations

In [6]:
# addition
1 + 2

3

In [8]:
x = 1.0
y = 2.0

x + y

3.0

In [9]:
x = "hello "
y ="world"

x + y

'hello world'

In [12]:
# subtraction
x = 1.0
y = 2.0

x - y

-1.0

In [13]:
# multiplication
x * y

2.0

In [16]:
# exponents
x = 2
y = 2

x ** y

4

In [19]:
# modulo

10 % 1 #

0

In [20]:
## integer divide

3 / 2

1.5

In [21]:
3 // 2

1

In [22]:
# fun shortcuts

x = 1
x = x + 1
print(x)

2

# Assignment Operators

In [23]:
x = 1
x += 1
print(x)

2

In [24]:
x = 2
x -= 1
print(x)

1

In [28]:
x = 2
x %= 2
print(x)

0

# Arithmetic Operators

In [ ]:
x = 50
y = 4

In [ ]:
print('Sum of x & y                   : ', x + y)
print('Difference between x & y       : ', x - y)
print('Product of x & y               : ', x * y)
print('Division of x by y             : ', x / y)

In [ ]:
print('Remainder of x divided by y    : ', x % y)
print('Floor Division x divided by y  : ', x // y)
print('Exponential value for x raised to power y : ', x ** y)

# 
# 
# 
#

# Arithmetic Assignment Operators

In [ ]:
a = 10
print('Present value of a = ', a )

In [ ]:
a += 5
print('Updated value of a = ', a )

In [ ]:
a = 10
print('Present value of a = ', a )
print('Present id of a = ', id(a))

In [ ]:
a += 15
print('Updated value of a = ', a )
print('Updated id of a = ', id(a))

# Comparison Operators

In [30]:
a = 20
b = 20
print('a = ', a, '  b = ', b)
print('a == b  : ', a == b) # Comparisons are always going to give bool (True or False)

a =  20   b =  20
a == b  :  True

In [32]:
a = 20
b = 20
print('a = ', a, '  b = ', b)
print('a != b  : ', a != b)

a =  20   b =  20
a != b  :  False

In [33]:
a = 40
b = 30
print('a = ', a, '  b = ', b)
print('a <= b  : ', a <= b)

a =  40   b =  30
a <= b  :  False

In [35]:
a < b

False

In [34]:
a = 30
b = 30
print('a = ', a, '  b = ', b)
print('a >= b  : ', a >= b)

a =  30   b =  30
a >= b  :  True

In [36]:
a > b

False

# Logical Operators

In [37]:
a = 30
b = 30
print('a = ', a, '  b = ', b)
print('a < b            : ', a < b)
print('a == b           : ', a == b)

a =  30   b =  30
a < b            :  False
a == b           :  True

In [39]:
print('a < b and a == b : ', a <= b and a == b)

a < b and a == b :  True

In [40]:
(a < b ) and (b == a or a > b)

False

In [46]:
x = 0
y = None

In [60]:
# is this reference None?
print(not None)
y = None
x =1 
print(not y)
print(y is None)
print(x == 1)

True
True
True
True

In [58]:
id(None)

4443186880

In [64]:
# Is operator
import pandas

my_unicorn = pandas.DataFrame()

my_other_unicorn = my_unicorn
my_unicorn is my_other_unicorn

True

In [66]:
# demonstrating "in"

my_list = [0, 1, 2, 3]

1 not in my_list

False

In [67]:
my_first_string = "hello world"

"hello" in my_first_string

True

In [68]:
a = 30
b = 30
print('a = ', a, '  b = ', b)
print('a < b           : ', a < b)
print('a == b          : ', a == b)

a =  30   b =  30
a < b           :  False
a == b          :  True

In [69]:
print('a < b or a == b : ', a < b or a == b)

a < b or a == b :  True

In [70]:
a = 40
print('a = ', a)
print('a < 50      : ' , a < 50 )

a =  40
a < 50      :  True

In [71]:
print('not a < 50  : ' , not(a < 50))

not a < 50  :  False

# Miscellaneous Operators

### Identity Operators

In [87]:
a = {'c', 'b', 'a'} [] {} {a: value}
b = {'a', 'b', 'c'}
print('a is b' , a == b)
print('a is b' , a is b)

a is b True
a is b False

In [88]:
id(a)

4826824480

In [89]:
id(b)

4826823808

In [91]:
a = ['a', 'b', 'c']
b =  a
print('a is b' , a is b)

a is b True

In [92]:
id(a) == id(b)

True

In [93]:
a = ['a', 'b', 'c']
b = ['a', 'b', 'c']
print('a is not b' , a is not b)

a is not b True

### Membership Operators

In [94]:
x = 'a'
y = 'Dictionary'
print(x , ' in "', y, '"')
print( x in y)

a  in " Dictionary "
True

In [95]:
x = 'a'
y = 'Dictionary'
print(x , ' in "', y, '"')
print( x not in y)

a  in " Dictionary "
False

In [97]:
a = [20, 45, 10]
10.0 in a

True

In [98]:
a = [20, 45, 10]
10 not in a

False

In [99]:
my_dict = {"a": "b"}
"a" in my_dict

True

In [100]:
my_set = {1 ,2, 3}

2 in my_set

True

In [101]:
my_tuple = (1 , 2 ,3 )
2 in my_tuple

True

# Strings in Python

In [ ]:
my_str = "s"

In [108]:
message_1 = 'Hi! Welcome to Python Programming!!'
message_2 = 'Hi! Welcome to Python Programming!!'
print(message_1)
print(message_2)

Hi! Welcome to Python Programming!!
Hi! Welcome to Python Programming!!

In [109]:
id(message_1)

4484546352

In [110]:
id(message_2)

4827014512

In [119]:
y = "hello"
x = "world barbie"

y + " " + x

'hello world barbie'

In [121]:
f_string = f"{y} this part is just some string {x}"
print(f_string)

hello this part is just some string world barbie

In [111]:
message_1 = 'Hi! Welcome to "Python Programming"!!'
message_2 = "Hi! Welcome to 'Python Programming'!!"
print(message_1)
print(message_2)

Hi! Welcome to "Python Programming"!!
Hi! Welcome to 'Python Programming'!!

In [122]:
message_2[0]

'H'

# List

In [125]:
my_list = [1, 2, 3, 4] # 5
my_list_index = [0, 1, 2, 3] # 4

my_list[0] #obj_num - 1
my_list[4] # off by 1 error

IndexError: list index out of range

In [132]:
my_list[:-1] # upper bound not included

[1, 2, 3]

# String methods

In [133]:
string = 'She seLLs sEa SHELLS oN tHe SeA sHoRe.'

In [136]:
string[23]

' '

In [137]:
upper_case = string.upper()
print(upper_case)

SHE SELLS SEA SHELLS ON THE SEA SHORE.

In [138]:
lower_case = string.lower()
print(lower_case)

she sells sea shells on the sea shore.

In [139]:
sentence = string.capitalize()
print(sentence)

She sells sea shells on the sea shore.

In [140]:
word_upper = string.title()
word_upper

'She Sells Sea Shells On The Sea Shore.'

In [141]:
string

'She seLLs sEa SHELLS oN tHe SeA sHoRe.'