## if statement

This section of the notebook includes demonstration about an if statement.

In [1]:
inp = input('Enter Nationality : ')

Enter Nationality : USA

In [2]:
inp

'USA'

In [3]:
if inp == "French":
    print('Préférez vous parler français ?') # if block

print('Thank You!!')

Thank You!!

In [4]:
inp = input('Enter Nationality : ')
if inp == "French":
    print('Préférez vous parler français ?') # if block
    
print('Thank You!!')

Enter Nationality : French
Préférez vous parler français ?
Thank You!!

## if else

In [5]:
num_str = input("Enter a number: ")

Enter a number: 1

In [6]:
num_int = int(num_str)

In [7]:
type(num_int)

int

In [8]:
num = int(input('Enter a number : '))

Enter a number : 10

In [9]:
if num > 0 :
    print(num, ' is a positve number')
    
else:
    print(num, ' is a negative number')

10  is a positve number

In [10]:
if num != 0:

IndentationError: expected an indented block (3986325278.py, line 2)

## if elif

In [11]:
marks =  float(input('Please enter marks : '))
if marks >= 90: 
    print('Grade A')
elif marks >=75 : 
    print('Grade B')
elif marks >= 55 : 
    print('Grade C')
elif marks >= 35 :
    print('Grade D')
else: 
    print('Grade F')
print('Thank you !!')

Please enter marks : 50
Grade D
Thank you !!

## Nested if

In [5]:
a = int(input('Enter a number :'))
b = int(input('Enter a number :'))
c = int(input('Enter a number :'))

Enter a number :1
Enter a number :2
Enter a number :3

In [ ]:
if (a > b): # A 1 > B 2 > C
    print("Unicorn: I'm at a > B")
    if (a > c):
        print('a (', a, ') is greatest')
    else :
        print('c (', c, ') is greatest')
else :
    print("I'm at b > a")
    if (b > c):
        print('b (', b, ') is greatest')
    else :
        print('c (', c, ') is greatest')

In [6]:
# Refactoring the nested if to be if elif

if (a > b) and (a > c):
    print('a (', a, ') is greatest')
elif (a > b) and (c > a):
    print('c (', c, ') is greatest')
elif (b > a) and (b > c):
    print('b (', b, ') is greatest')
elif (b > a) and (c > b):
    print('c (', c, ') is greatest')

c ( 3 ) is greatest

In [10]:
a = False

if True: # ALWAYS RUNS
    print("this is True")

if True:
    print("This is the second True!")

this is True
This is the second True!

# Python Conventions

### use spaces instead of tabs because it'll make debugging later easier 
    can achieve by setting your IDE default to use spaces when you push tab. 
    
## PEP-8 Python styling guidelines
 ** read that

1. Variables should be clear (it's better to have a longer variable name that's clear than a short variable name that's not clear)
2. Snake Case is more often used (between snake and camel).

# Loops

## for loop

In [19]:
len('1234')

4

In [18]:
string = "Python"

for index in range(0, len(string)): #len(string) == 1, # range doesn't include the upper bound
    print(index, string[index])

0 P
1 y
2 t
3 h
4 o
5 n

In [24]:
string = 'Python' #["P", "y", "t", "h", "o", "n"]
## string = list of chars

for element in string: # VERY SPECIFIC TO STRINGS
    print(element)
print('Thank You!!')

P
y
t
h
o
n
Thank You!!

In [25]:
string_list = ["P", "y", "t", "h", "o", "n"]
for element in string_list:
    print(element)

P
y
t
h
o
n

In [17]:
for num in 10:
    print(num)

TypeError: 'int' object is not iterable

In [27]:
my_dict = {0: "P", 1: "y", 2: "t" }

for key, value in my_dict.items():
    print(key, value)
    print("hello World")

0 P
hello World
1 y
hello World
2 t
hello World

## while loop

In [30]:
counter = 0
while counter < 5: # counter = 4
    print(counter)

    counter += 1 
print('Thank You!!')

0
1
2
3
4
Thank You!!

##### while loop never executed

In [34]:
counter = 5
while counter < 5:
    print(counter)
    counter += 1
print('Thank you')

Thank you

##### infinite while loop

In [ ]:
counter = 0
while counter < 5:
    print(counter)
print('Thank you')

In [33]:
# Example of using a break (can use in any loop, for loops included)
counter = 0

while True: # run the risk of infinite loop
    print(counter)
    
    if counter == 0:
        break

print("Thank you")

0
Thank you

## Range function

#### range(n)

In [50]:
start_index = 0
end_index = 10

step = -2
obj = range(end_index, start_index, step)
print(obj)

range(10, 0, -2)

In [51]:
print(list(obj))

[10, 8, 6, 4, 2]

#### range(start, stop)

In [52]:
obj = range(5, 15)
print(list(obj))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

#### step in range

In [53]:
obj = range(2, 50, 2)
print(list(obj))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

## Nested Loops

In [70]:
# outer loop
for j in range(2,11): # O(N^2) Complexity
    print('Table of :', j)
    # inner loop
    for i in range(1,11):
        # print multiplication 
        
        print('{:2d} X {:2d} = {:2d}'.format(j,i, j*i).center(20))
        
        print(f"{j} x {i} = {j * i}") # f string
    print('\nEnd of multiplication table of ', j, '\n')
print('Thank You')

Table of : 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

End of multiplication table of  2

Table of : 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

End of multiplication table of  3

Table of : 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

End of multiplication table of  4

Table of : 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

End of multiplication table of  5

Table of : 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

End of multiplication table of  6

Table of : 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

End of multiplication table of  7

Table of : 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

End of multiplication table of  8

Table of : 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

End of multiplication table of  9

Table of : 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

End of multiplication table of  10

Thank You

In [69]:
test = "hello"

print(f"{test} world")

hello world

In [62]:
# outer loop
for j in range(2,11):
    print('Table of :', i)
    # inner loop
    for i in range(1,11):
        # print multiplication 
        print('{:2d} X {:2d} = {:2d}'.format(j,i, j*i).center(20))
    print('\nEnd of multiplication table of ', j, '\n')
print('Thank You')

Table of : 10
     2 X  1 =  2
     2 X  2 =  4
     2 X  3 =  6
     2 X  4 =  8
     2 X  5 = 10
     2 X  6 = 12
     2 X  7 = 14
     2 X  8 = 16
     2 X  9 = 18
     2 X 10 = 20

End of multiplication table of  2

Table of : 10
     3 X  1 =  3
     3 X  2 =  6
     3 X  3 =  9
     3 X  4 = 12
     3 X  5 = 15
     3 X  6 = 18
     3 X  7 = 21
     3 X  8 = 24
     3 X  9 = 27
     3 X 10 = 30

End of multiplication table of  3

Table of : 10
     4 X  1 =  4
     4 X  2 =  8
     4 X  3 = 12
     4 X  4 = 16
     4 X  5 = 20
     4 X  6 = 24
     4 X  7 = 28
     4 X  8 = 32
     4 X  9 = 36
     4 X 10 = 40

End of multiplication table of  4

Table of : 10
     5 X  1 =  5
     5 X  2 = 10
     5 X  3 = 15
     5 X  4 = 20
     5 X  5 = 25
     5 X  6 = 30
     5 X  7 = 35
     5 X  8 = 40
     5 X  9 = 45
     5 X 10 = 50

End of multiplication table of  5

Table of : 10
     6 X  1 =  6
     6 X  2 = 12
     6 X  3 = 18
     6 X  4 = 24
     6 X  5 = 30
     6 X  6 = 36
     6 X  7 = 42
     6 X  8 = 48
     6 X  9 = 54
     6 X 10 = 60

End of multiplication table of  6

Table of : 10
     7 X  1 =  7
     7 X  2 = 14
     7 X  3 = 21
     7 X  4 = 28
     7 X  5 = 35
     7 X  6 = 42
     7 X  7 = 49
     7 X  8 = 56
     7 X  9 = 63
     7 X 10 = 70

End of multiplication table of  7

Table of : 10
     8 X  1 =  8
     8 X  2 = 16
     8 X  3 = 24
     8 X  4 = 32
     8 X  5 = 40
     8 X  6 = 48
     8 X  7 = 56
     8 X  8 = 64
     8 X  9 = 72
     8 X 10 = 80

End of multiplication table of  8

Table of : 10
     9 X  1 =  9
     9 X  2 = 18
     9 X  3 = 27
     9 X  4 = 36
     9 X  5 = 45
     9 X  6 = 54
     9 X  7 = 63
     9 X  8 = 72
     9 X  9 = 81
     9 X 10 = 90

End of multiplication table of  9

Table of : 10
    10 X  1 = 10
    10 X  2 = 20
    10 X  3 = 30
    10 X  4 = 40
    10 X  5 = 50
    10 X  6 = 60
    10 X  7 = 70
    10 X  8 = 80
    10 X  9 = 90
   10 X 10 = 100

End of multiplication table of  10

Thank You

## Loop Control Statements

In [72]:
for s in 'Python':
    print(s)
    if s == 'h':
        break
print('End of Loop')

P
y
t
h
End of Loop

In [75]:
for s in "Python":
    print(s)
    break

P

In [74]:
for s in 'Python':
    print(s)
    if s == 'h':
        continue
    
print('End of Loop')

P
y
t
h
o
n
End of Loop

In [81]:
for s in "Python":
    print("hello")
    continue
    print(s)

hello
hello
hello
hello
hello
hello

In [79]:
for s in "Python":
    print(s)
    continue

P
y
t
h
o
n

## Loop Else Statements

In [7]:
for i in range(0, 3):
    food = input('Enter edible item :')
    if food == 'spam':
        print('No more spam please !!')
        break
    print('Great Delicious ')
else:
    print('I am so glad !! No Spam')
print('Finally finshed stuffing myself!!')

Enter edible item :tuna
Great Delicious
Enter edible item :spam
No more spam please !!
Finally finshed stuffing myself!!

In [10]:
# this is the same as not having an else
def with_else():
    for i in range(0,2):
        print(i)
    else:
        print("hello world")

def without_else():
    for i in range(0, 2):
        print(i)
    print("hello world")

In [15]:
# the else is only useful for the for loop when there is a conditional break in the for loop

def with_else():
    for i in range(0, 2):
        print(i)
        if 1 == 1:
            break
    else:
        print("hello world")

def without_else():
    for i in range(0, 2):
        print(i)
        if 1 == 1:
            break
    print("hello world")  

with_else()
without_else()

0
0
hello world

In [ ]:
is_garbage = False

for i in range(0,10):
    is_garbage = is_garbage()
    
    if is garbage:
        break
        asfa

In [ ]:
for i in range(5):
    food = input('Enter edible item :')
    if food == 'spam':
        print('No more spam please !!')
        break
    print('Great Delicious ')
else :
    print('I am so glad !! No Spam')
print('Finally finshed stuffing myself!!')

In [15]:
marks

100

In [14]:
marks = 100